aclocal.m4
autom4te.cache/
config.h
config.h.in~
config.log
config.status
scripts/Makefile
src/.deps/
src/Makefile
src/getline.o
src/pcaptxt
src/pcaptxt.o
src/snscanf.o
src/version.c
src/version.o
srclib/Makefile
srclib/libhash-0.1/
stamp-h1
dist/
